*.db
*.filters
*.user

/IPC_Viewer/IPC_Viewer.sln

/.vscode/

/.vs/

/IPC_Viewer/.vs/
/IPC_Viewer/Binaries/
/IPC_Viewer/Intermediate/
/IPC_Viewer/Saved/

/IPC_Viewer/Plugins/IPCViewer/Intermediate/
/IPC_Viewer/Plugins/IPCViewer/Binaries/

/IPC_Core/.vs/
/IPC_Core/IPC_Client/temp/
/IPC_Core/IPC_Client/build/
/IPC_Core/IPC_Plugin/temp/x64/Debug

/IPC_Core/IPC_Plugin/temp/
/IPC_Core/IPC_Plugin/build/